<!DOCTYPE html>

<html>
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <header>    
      <%- include('partials/navbar.ejs') %>
    </header>

    <main style="margin-top: 50px;">
      <div class="container">
      <%- include('partials/alerts.ejs') %>

      <div class="row">
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">GeoJSON</div>
            <div class="card-body d-grid gap-2">
              <!-- Form to import and submit geoJSON -->
              <form action="/saveRegionBorders" method="post" enctype="multipart/form-data">
                <label for="geojsonImportButton">Importar ficheiro geoJSON:</label>
                <br />
                <!--* Button to select the geoJSON to send to the server -->
                <!-- Only accept files with the .geojson extension -->
                <input
                  type="file"
                  id="geojsonImportButton"
                  name="geojson"
                  accept=".geojson"
                />

                <!--* Button to send the geoJSON to the server -->
                <div class="d-grid mt-1"> 
                  <button class="btn btn-primary">Enviar</button> 
                </div>
              </form>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-lg-4">
          <div class="card card-primary">
            <div class="card-header">
              <i class="fa fa-database text-dark" aria-hidden="true"></i> Base de dados
            </div>
            <div class="card-body d-grid gap-2 text-center">
                <!-- Form to delete the weather collection -->
               <!--  <form action="/admin/deleteAll" method="post">
                  <div class="d-grid">
                    <button class="btn btn-primary">Limpar todas as coleções</button>
                  </div>
                </form> -->

                <!-- Form to delete the coordinates reference system collection -->
                <!-- <form action="/deleteCRS" method="post">
                  <div class="d-grid">
                    <button class="btn btn-primary">Delete CRSs in database</button>
                  </div>
                </form>
 -->
                <!-- Form to clear the region borders collection -->
                <form action="/admin/deleteRegionBorders" method="post">
                  <div class="d-grid">
                    <button class="btn btn-primary">Limpar regiões</button>
                  </div>
                </form>

                <!-- Form to clear the weatherDates collection -->
                <form  action="/admin/deleteWeatherDates" method="post">
                  <div class="d-grid">
                    <button class="btn btn-primary">Limpar datas</button>
                  </div>
                </form>

                <!-- Form to clear the weather collection -->
                <form action="/admin/deleteWeather" method="post">
                  <div class="d-grid">
                    <button class="btn btn-primary">Limpar dados clima</button>
                  </div>
                </form>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">Outras opções</div>
            <div class="card-body d-grid gap-2">
              <!-- Form to calculate the centers of the features saved in the regionBorders collection -->
              <form action="/calculateCenters" method="post">
                <!--* Button to send the post request to the server -->
                <div class="d-grid">
                  <button class="btn btn-primary">Calcular centro das regiões</button>
                </div>
              </form>

              <!-- Form to save the weather information of each feature in the region borders collection -->
              <!-- <form action="/saveWeather" method="post">
                <div class="d-grid">
                  <button class="btn btn-primary">Save weather of regions in the database</button>
                </div>
              </form> -->
            </div>
          </div>
        </div>


      </div>
      </div>
    </main>

    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>
  </body>
  <%- include('partials/scripts.ejs') %>
</html>
