<!DOCTYPE html>

<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.2/r-2.4.0/datatables.min.css"/>
  </head>

  <body>
    <header>    
      <%- include('../partials/navbar.ejs') %>
    </header>

    <main style="margin-top: 50px;">
      <div class="container">
        
      <%- include('../partials/alerts.ejs') %>

        <div class="row">
            <div class="col-xs-12">
                <h2>Regions</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4 border border-1 border-secondary p-2">
                            <!-- Form to import and submit geoJSON -->
                            <form action="/region/save" method="post" enctype="multipart/form-data">
                                <label for="geojsonImportButton">Upload geoJSON file:</label>
                                <br />
                                <!--* Button to select the geoJSON to send to the server -->
                                <!-- Only accept files with the .geojson extension -->
                                <input
                                type="file"
                                id="geojsonImportButton"
                                name="geojson"
                                accept=".geojson"
                                />
                
                                <!--* Button to send the geoJSON to the server -->
                                <div class="d-grid mt-1"> 
                                    <button class="btn btn-primary">Send</button> 
                                </div>
                            </form>
                        </div>


                        <div class="col-xs-12 col-lg-8">
                            <form id="formDeleteAll" action="/region/deleteAll" class="pull-right" method="post">
                                <div>
                                    <button type="submit" class="btn btn-danger d-none">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                    <button type="button" onclick=myDT.deleteAllConfirm() class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i> Delete all
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <%- include('../partials/datatable.ejs') %>

            </div>
        </div>
      </div>
    </main>
    
    <%- include('../partials/modal.ejs') %>
    
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>

  <%- include('../partials/scripts.ejs') %>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.2/r-2.4.0/datatables.min.js"></script>
  <script type="text/javascript" src="/js/datatable.js"></script>
  <script>
    // MyDatatable object
    let myDT; 

    // Document ready event
    $(document).ready(function() {
        const dtConfig = DTConfig();
        dtConfig.columnDefs.push({
            targets: -1,
            render: function (data, type, row, meta) {
                return `<div>
                        <button class="btn btn-secondary btn-sm" alt="View" title="View" onclick=myDT.viewFromID(${meta.row})>
                            <i class="fa fa-search"></i>
                        </button>

                        <a class="btn btn-primary btn-sm" alt="View weather" title="View weather" href="/regions/${row._id}/weather">
                            <i class="fa fa-thermometer-full"></i>
                        </a>

                        <button class="btn btn-danger btn-sm" alt="Delete" title="Delete" onclick=delFromID("${row._id}")>
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                `;
            }
        });

        dtConfig.ajax.url = "/region/getRegions?dt=true&geometry=false";
        dtConfig.getFieldsUrl = "/region/fields";

        myDT = new MyDatatable(dtConfig);
    });

    // Delete item function
    async function delFromID(id) {
        const url = `/region/${id}/delete`;
        await myDT.delFromID(id, url);
    }
  </script>

</html>