<!DOCTYPE html>

<html>
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

    <body>
        <header>    
            <%- include('../partials/navbar.ejs') %>
        </header>

        <main style="margin-top: 50px;">
            <div class="container">
                <div class="row justify-content-sm-center h-100">
                    <%- include('../partials/alerts.ejs') %>

                    <h2>Add weather field metadata</h2>
                    <div class="col-xxl-6 col-xl-6 col-lg-9 col-md-9 col-sm-12">
                        <form id="form-main" method="POST" action="/metadata/redirect">
                            <label for="">Field name</label>
                            <input required class="form-control" type="text" name="name" placeholder="The name that comes on the data" value="" />

                            <label for="">Display name</label>
                            <input required class="form-control" type="text" name="displayName" placeholder="Name to display on interface" value="" />
                            
                            <label for="">Description</label>
                            <input required class="form-control" type="text" name="description" placeholder="Description" value="" />

                            <label for="">Unit of measure</label>
                            <input class="form-control" type="text" name="unit" placeholder="ºC, m/s, %..." value="" />

                            <p>Authentication required to view on map:</p>
                            <input class="form-check-input" type="radio" id="yes" name="authRequired" value="true" />
                            <label for="yes">Yes</label>
                            <input checked class="form-check-input" type="radio" id="no" name="authRequired" value="false" />
                            <label for="no">No</label>
                        </form>
                        <br>

                        <label for="">Colours:</label>
                        <div class="clonable-block" data-toggle="cloner">
                            <div class="clonable" data-ss="1">
                                <form class="row d-flex flex-row align-items-center flex-wrap border border-1 p-2">
                                    <div class="col-md-3">
                                        <label class="clonable-increment-html" for="">Mínimo</label>
                                        <input id="min_4" type="number" class="form-control clonable-increment-id" placeholder="" name="min" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="clonable-increment-html" for="">Máximo</label>
                                        <input id="max_1" type="number" class="form-control clonable-increment-id" placeholder="" name="max" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="clonable-increment-html" for="">Cor</label>
                                        <input id="color_1" type="color" class="form-control clonable-increment-id" name="colour" placeholder="#333333" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="clonable-increment-html" for=""></label>
                                        <button class="btn btn-danger btn-sm clonable-button-close d-block">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <button class="clonable-button-add btn btn-secondary mt-3" type="button">Add rule</button>  
                        </div>

                        <div class="d-grid mt-2">
                            <button id="send"  type="button" class="btn btn-primary btn-block">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
    </body>
    <%- include('../partials/scripts.ejs') %>
    <script src="/js/jquery.cloner.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#send").on("click", function (e) {
                const form = $("#form-main").get(0);
                const data = convertFormToJSON(form);
                data.colours = [];

                const colourForms = $(".clonable form");
                colourForms.each(function() { 
                    data.colours.push(convertFormToJSON($(this)));
                });

                $.post("/metadata/create", { data }, (data, status) => {
                    $("#form-main").submit(); // make normal request just to redirect
                }).fail(e => {
                    showErrorAlert(e.responseJSON);
                });
            });
                
            function convertFormToJSON(form) {
                const array = $(form).serializeArray();
                const json = {};
                $.each(array, function () {
                    json[this.name] = this.value || null;
                });
                return json;
            }
        });
    </script>
</html>