<!DOCTYPE html>

<html>
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <header>    
      <%- include('../partials/navbar.ejs') %>
    </header>

    <main style="margin-top: 50px;">
        <div class="container">
            <div class="row justify-content-sm-center h-100">
                <%- include('../partials/alerts.ejs') %>
                <h2>Edit weather metadata <%= data._id %></h2>
                <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-12">
                  <form id="form-main" method="POST" action="/metadata/redirect">
                      <label for="">Field name</label>
                      <input required class="form-control" type="text" name="name" placeholder="The name that comes on the data" value="<%= data.name %>" />

                      <label for="">Display name</label>
                      <input required class="form-control" type="text" name="displayName" placeholder="Name to display on interface" value="<%= data.displayName %>" />

                      <label for="">Description</label>
                      <input required class="form-control" type="text" name="description" placeholder="Descrição" value="<%= data.description %>" />

                      <label for="">Unit of measure</label>
                      <input class="form-control" type="text" name="unit" placeholder="ºC, m/s, %..." value="<%= data.unit %>" />

                      <p>Authentication required to view on map:</p>
                      <% if (!data.authRequired) { %>
                        <input class="form-check-input" type="radio" id="yes" name="authRequired" value="true" />
                        <label for="yes">Yes</label>
                        <input checked class="form-check-input" type="radio" id="no" name="authRequired" value="false" />
                        <label for="no">No</label>
                      <% } else { %>
                        <input checked class="form-check-input" type="radio" id="yes" name="authRequired" value="true" />
                        <label for="yes">Yes</label>
                        <input class="form-check-input" type="radio" id="no" name="authRequired" value="false" />
                        <label for="no">No</label>
                      <% } %>   

                      <p style="margin-top:10px">Main field (check Yes for risk level or the most important field in the set):</p>
                      <% if (!data.main) { %>
                      <input class="form-check-input" type="radio" id="yes" name="main" value="true" />
                      <label for="yes">Yes</label>
                      <input checked class="form-check-input" type="radio" id="no" name="main" value="false" />
                      <label for="no">No</label>
                      <% } else { %>
                      <input checked class="form-check-input" type="radio" id="yes" name="main" value="true" />
                      <label for="yes">Yes</label>
                      <input class="form-check-input" type="radio" id="no" name="main" value="false" />
                      <label for="no">No</label>
                      <% } %>   
                  </form>
                  <br>

                  <label for="">Ranges:</label>
                  <div class="clonable-block" data-toggle="cloner">
                    <% data.ranges.forEach((c,i) => { %>
                    <% if (i == data.ranges.length-1) { %>
                      <div class="clonable" data-ss="1">
                        <form class="row d-flex flex-row align-items-center flex-wrap border border-1 p-2">
                          <div class="col-md-2">
                              <label class="clonable-increment-html" for="">Min</label>
                              <input id="min_1" type="number" class="form-control clonable-increment-id" placeholder="" name="min" value="<%= c.min %>" />
                          </div>
                          <div class="col-md-2">
                              <label class="clonable-increment-html" for="">Max</label>
                              <input id="max_1" type="number" class="form-control clonable-increment-id" placeholder="" name="max" value="<%= c.max %>" />
                          </div>
                          <div class="col-md-2">
                              <label class="clonable-increment-html" for="">Color</label>
                              <input id="color_1" type="color" class="form-control clonable-increment-id" name="color" placeholder="#333333" value="<%= c.color %>" />
                          </div>

                          <div class="col-md-5">
                            <label class="clonable-increment-html" for="">Recommendations (comma separated)</label>
                            <textarea name="recommendations" style="resize: none; text-align: left; overflow:auto;" class="form-control clonable-increment-id" placeholder="Drink water, Close doors..." id="recommendations_1"><%= c.recommendations?.join().trim() %></textarea>
                          </div>

                          <div class="col-md-1">
                              <label class="clonable-increment-html" for=""></label>
                              <button class="btn btn-danger btn-sm clonable-button-close d-block">
                                  <i class="fa fa-trash"></i>
                              </button>
                          </div>
                        </form>
                      </div>
                    <% } else { %>
                      <div>
                        <form class="row d-flex flex-row align-items-center flex-wrap border border-1 p-2">
                          <div class="col-md-2">
                              <label for="">Mínimo</label>
                              <input id="min_1" type="number" class="form-control" placeholder="" name="min" value="<%= c.min %>" />
                          </div>
                          <div class="col-md-2">
                              <label for="">Máximo</label>
                              <input id="max_1" type="number" class="form-control" placeholder="" name="max" value="<%= c.max %>" />
                          </div>
                          <div class="col-md-2">
                              <label for="">Cor</label>
                              <input id="color_1" type="color" class="form-control" name="color" placeholder="#333333" value="<%= c.color %>" />
                          </div>

                          <div class="col-md-5">
                            <label class="clonable-increment-html" for="">Recommendations (comma separated)</label>
                            <textarea name="recommendations" style="resize: none; text-align: left; overflow:auto;" class="form-control clonable-increment-id" placeholder="Drink water, Close doors..." id="recommendations_1"><%=c.recommendations?.join().trim()%></textarea>
                          </div>

                          <!-- <div class="col-md-1">
                              <label  for=""></label>
                              <button class="btn btn-danger btn-sm d-block">
                                <i class="fa fa-trash"></i>
                              </button>
                          </div> -->
                        </form>
                      </div>
                    <% } %>    
                        
                    <% }) %>
                    <button class="clonable-button-add btn btn-secondary mt-3" type="button">Add rule</button>  
                  </div>

                  <div class="d-grid mt-2">
                    <button id="send" type="button" class="btn btn-primary btn-block">Send</button>
                  </div>
              </div>
            </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>

<%- include('../partials/scripts.ejs') %>
<script src="/js/jquery.cloner.min.js"></script>
<script>
  $(document).ready(function() {
    $("#send").on("click", function (e) {
      const form = $("#form-main").get(0);
      const data = convertFormToJSON(form);
      data.ranges = [];

      const colourForms = $(".clonable-block form");
      colourForms.each(function() { 
        const dataConverted = convertFormToJSON($(this));
        if (dataConverted.recommendations && dataConverted.recommendations.length) {
          dataConverted.recommendations = dataConverted.recommendations.split(",").map(s => 
            s.trim()
            .replace("\\n","")
            .replace("\\t", "")
            .replace("\\r", "")
            .replace("\\r\\n", "")
          );
        } else dataConverted.recommendations = "";
        data.ranges.push(dataConverted);
      });

      $.post("/metadata/<%= data._id %>/update", { data }, (data, status) => {
        $("#form-main").submit(); // make normal request just to redirect
      }).fail(e => {
        showErrorAlert(e.responseJSON);
      });

    });
        
    function convertFormToJSON(form) {
      const array = $(form).serializeArray();
      const json = {};
      $.each(array, function () {
        json[this.name] = this.value || null;
      });
      return json;
    }
  });
</script>

</html>