<!DOCTYPE html>

<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.2/r-2.4.0/datatables.min.css"/>
  </head>

  <body>
    <header>    
      <%- include('../partials/navbar.ejs') %>
    </header>

    <main style="margin-top: 50px;">
      <div class="container">
        
      <%- include('../partials/alerts.ejs') %>

        <div class="row">
            <div class="col-xs-12">
                <h2>Weather metadata</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4">
                        </div>

                        <div class="col-xs-12 col-lg-8">
                            <form id="formDeleteAll" action="/metadata/deleteAll" class="pull-right" method="post">
                                <div>
                                    <button type="submit" class="btn btn-danger d-none">
                                        <i class="fa fa-trash-o"></i> Eliminar tudo
                                    </button>
                                    <button type="button" onclick=myDT.deleteAllConfirm() class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i> Eliminar tudo
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <%- include('../partials/datatable.ejs') %>

            </div>
        </div>
      </div>
    </main>
    
    <%- include('../partials/modal.ejs') %>
    
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>

  <%- include('../partials/scripts.ejs') %>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.2/r-2.4.0/datatables.min.js"></script>
  <script type="text/javascript" src="/js/datatable.js"></script>
  <script>
    // MyDatatable object
    let myDT; 

    // Document ready event
    $(document).ready(function() {
        const dtConfig = DTConfig();
        dtConfig.columnDefs.push({
            targets: -1,
            render: function (data, type, row, meta) {
                return `<div>
                        <button class="btn btn-secondary btn-sm" alt="Ver" title="Ver" onclick=myDT.viewFromID(${meta.row})>
                            <i class="fa fa-search"></i>
                        </button>

                        <button class="btn btn-danger btn-sm" alt="Eliminar" title="Eliminar" onclick=delFromID("${row._id}")>
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                `;
            }
        });

        dtConfig.ajax.url = "/metadata/getMetadata?dt=true";
        dtConfig.getFieldsUrl = "/metadata/fields";

        myDT = new MyDatatable(dtConfig);
    });

    // Delete item function
    async function delFromID(id) {
        const url = `/metadata/${id}/delete`;
        await myDT.delFromID(id, url);
    }
  </script>

</html>