<!DOCTYPE html>

<html>
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <header>    
      <%- include('../partials/navbar.ejs') %>
    </header>

    <main style="margin-top: 50px;">
        <div class="container">
            <div class="row justify-content-sm-center h-100">
                <%- include('../partials/alerts.ejs') %>
                <h2>Editar utilizador <%= user._id %></h2>
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <form action="/user/<%=user._id%>/update" method="post">
                        <label for="username">Username:</label>
                        <input type="text" name="username" class="form-control" value="<%= user.username %>" disabled />

                        <label for="role">Role:</label>
                        <select name="role" class="form-select" aria-label="Default select example">
                            <% for (let key in roles) { %>
                                <% if (user.role == roles[key]) { %>
                                <option selected value="<%= roles[key] %>"><%= roles[key] %></option>
                                <% } else { %>
                                <option value="<%= roles[key] %>"><%= roles[key] %></option>
                            <% }} %>
                        </select>

                        <div class="d-grid mt-2">
                          <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>

<%- include('../partials/scripts.ejs') %>

</html>
